@charset "utf-8";
/* CSS Document */
.back-video{  
		position: fixed;  
		right: 0px;  
		bottom: 0px;  
		min-width: 100%;  
		min-height: 100%;  
		height: auto;  
		width: auto;  
		z-index: -11;
        }  
.banner{
	width: 900px;
	height: 550px;
	
}

