@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;					
	align-items: center;
	justify-content: center;
}
.box{
	height: 300px;
	width: 400px;
	border-radius: 20px;														
	margin: 500 auto auto;
	box-shadow: 0 10px 80px rgba(0,0,0,.6);
	position: absolute;

}

.enter{
	text-align-last: center;
	line-height: 48px;
}
.content{
	width: 360px;
	height: 200px;
	margin-left: 20px;
}
.top{
	height: 50px;
	border-radius: 10px;
	line-height: 50px;	
	border-bottom: 1px solid rgba(255,255,255,1.00);
}
.bottom{
	height: 50px;
	width: 100px;
	margin: -75px auto 0;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
}
.content{

}
*, *:before, *:after{
	box-sizing:border-box;
}
div.foo{
	width: 90%;
	margin-top: 500px;
	text-align: center;
	position: fixed;			

}
.letter{
	display: inline-block;
	font-weight: 900;
	font-size: 8em;
	margin: 0.2em;
	position: relative;
	color: #00B4F1;
	transform-style: preserve-3d;
	perspective: 400;
	z-index: 1;
}
.letter:before, .letter:after{
	position:absolute;
	content: attr(data-letter);
	transform-origin: top left;
	top:0;
	left:0;
}
.letter, .letter:before, .letter:after{
	transition: all 0.3s ease-in-out;
}
.letter:before{
	color: #fff;
	text-shadow: 
	-1px 0px 1px rgba(255,255,255,.8),1px 0px 1px rgba(0,0,0,.8);
	z-index: 3; 
	transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}
.letter:after{
	color: rgba(0,0,0,.11);
	z-index:2;
	transform:
	scale(1.08,1)
	rotateX(0deg)
	rotateY(0deg)
	rotateZ(0deg)
	skew(0deg,1deg);
}
.letter:hover:before{
	color: #fafafa;
	transform:
	rotateX(0deg)
	rotateY(-40deg)
	rotateZ(0deg);
}
.letter:hover:after{
	transform:
	scale(1.08,1)
	rotateX(0deg)
	rotateY(40deg)
	rotateZ(0deg)
	skew(0deg,22deg);
}
